* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    font-size: 100%;
}

html, body{
    height: 100%;
}

body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

a:visited {
    color: #a0a;
}

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

div.outer {
    margin: 50px 10% 70px 10%;
}

.list-group {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

div.date {
    font-size: 80%;
    color: darkgray;
}

.title {
    cursor: pointer;
    padding: 15px 20px;
}

.list-group-item {
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
}